.navbar{
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
}

li {
    padding: 10px;
    list-style-type: none;
    border-style: solid;
    margin: 10px;
}

a {
    text-decoration: none;
}